

body{font-family: 'Noto Sans Kufi Arabic', serif; -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;padding:0;background:url(../img/whiteBG.png)no-repeat center;
	background-size:cover;}

p{line-height:1.8;font-size: 16px;color:#7e7e7e}
a{color:#FFF;text-decoration:none}
a:hover {
    text-decoration: none;
   }
li {list-style:none;color:#7e7e7e} 
.hed-border:after {
    content: '';
    display: block;
    width: 55px;
    height: 4px;
    background-color: #333;
margin: 25px 0;}   
.header.home{margin:0;background:url(../img/slider.jpg)no-repeat center ;position:relative;
	background-size:cover;height:800px;z-index:555;overflow:hidden;-webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 87%);
clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 87%);z-index:9999
}
	
.header.home .sochal,footer .sochal {margin-bottom:2%;width:50%;display:inline-block}	
.header.home .sochal i ,footer .sochal i {
    color: #fff;
    background: transparent;
    border-radius:5px;
	border:1px solid #FFF;
    height: 35px;
    width: 35px;
    line-height: 35px;
	text-align:center;
   
    border: 1px solid #fff;
	margin-left: 5%;
   
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  
background-color: #CFC183;}
.trin.one{-webkit-clip-path: polygon(0 0, 0 63%, 100% 0);
clip-path: polygon(0 0, 0 63%, 100% 0);background-color:rgba(238, 238, 238, .5);
    width: 55%;
    height: 100px;
    position: absolute;
    left: -3%;
   top: -3.5%;
    -webkit-transform:rotate(4dg);
    -ms-transform: rotate(4deg);
	 transform: rotate(4deg);
	 
    z-index: 2222;}
.header.home .sochal i:hover,footer .sochal i:hover {
    color: #CFC183;
background: transparent;
border: 1px solid #CFC183;}
.btn-default:hover, .btn-default:focus, .btn-default:active, 
.btn-default.active, .open > .dropdown-toggle.btn-default,
.sochal .btn-default{background-color:transparent;border-color:transparent;color:#fff;border:1px solid #fff}
.header.home .cont{width:100%;overflow:hidden}
.header.home .cont li{display:inline-block;color:#fff;float:right;font-size:14px}	
.header.home .cont li:first-child{margin-left:3%;}
.header.home .cont i{color:#fff;background:#CFC183;border-radius:50%;height: 25px;
    width: 25px;
    text-align: center;
    line-height: 25px;margin-left:5px}
.header.home .dropdown{display:inline-block}
.header .download{background-color:#CFC183;color:#fff;width:50%;display:inline-block;float:left;
border-radius:5px;border:1px solid #CFC183}
.header .download:hover{border:1px solid #CFC183; background-color:transparent}
.header .download:hover a{color:#CFC183;}
.header .download li{line-height: 2.5;
    padding: 0 2%;}
.header .download i{margin-left:5px}	
.wrapper {
  position:relative; padding: 0 ;}
.wrapper.no-padding{padding-bottom:0}	
.overlay-home{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(9,56,90,.8);
      padding-top: 5px;
}
.overlay{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* navbar link*/
.navbar-inverse{background-color:transparent !important;border-color:transparent !important;top: 0;}
.navbar-inverse .navbar-nav > li > a{color:#333;padding: 10px ;border-bottom:3px solid transparent;
    font-size:13px;line-height: 3;border-top:3px solid transparent;}
.navbar-inverse .navbar-nav > li > a:hover, 
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a{color:#CFC183;background-color:transparent;border-bottom:3px solid #CFC183}
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus{color: #CFC183;background-color:transparent;line-height: 3;}
.navbar-inverse .navbar-collapse{background-color:#fff;border: 1px solid;padding:2% 1%;border-radius:5px }
.navbar-brand{padding:0 }
.navbar > .container .navbar-brand{margin-right:0; margin-top:6%; }
.navbar-brand img{height:75px;width:240px;margin-right: 6%}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, 
.navbar-inverse .navbar-nav > .open > a:focus{background-color:transparent;color:#CFC183}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{border-color:transparent}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
background-color: #CFC183;}
/***home page***/
#carousel-example-generic .carousel-inner
{
	
	width:100%;
	overflow:hidden;
	margin-top:5%;
}
#carousel-example-generic .carousel-inner > .item{padding-bottom:2%}
#carousel-example-generic .carousel-inner > .item h3{margin-bottom:5%;margin-top:8%;color:#fff;font-weight:bold;line-height:2}
#carousel-example-generic .carousel-inner > .item p{line-height:1.7;color:#fff;margin-bottom:8% }

#carousel-example-generic .carousel-indicators {    bottom: -60%;}
#carousel-example-generic .carousel-indicators .active{background-color:#CFC183}
#carousel-example-generic .carousel-indicators li {border-color:#CFC183}
.more{background-color:#CFC183;padding:1% 3%;color:#fff;border:1px solid transparent;border-radius:5px}
.more:hover{border:1px solid #CFC183;color:#CFC183;background-color:transparent;border-radius:5px}
.head-ser{background:rgba(207,193,132,.7);color:#fff;padding:3% 0 7%;text-align:center;
 border-radius:5px;margin-top: 17%;}
.head-ser p{margin:14% 0;font-size:14px;color:#fff}
.head-ser .more,.head-ser .more:hover{border:1px solid #fff;padding:3%}
.head-ser .more-dark{background-color: #173750;border:1px solid #fff;
    padding:  3%; color: #fff;border-radius:5px;}
.head-ser .more-dark:hover{background-color:transparent;color:#173750}
/***about****/
.about{position:relative;width:100%;
z-index: 2222;height: 670px;}
.hed-border{color:#014165}
.about .pic{position:relative;z-index:2222;top: -50px;
    right: -37%;
   
    width: 140%;}
.about .pic img{position: absolute;
    z-index: 333;
    top: 5%;
    width: 65%;
	height:465px;
    left: 10%;
    border: 2px solid #1f375d;
    padding: 4%;
	border-radius:5px}	
.about .bg-pic{background:url(../img/DarkBg.png) no-repeat center;
	background-size:cover;
    width: 70%;z-index:222;
    height: 770px;}

.about .bg-pic img{position:absolute;right: 25%;
    width: 50%;top:15%;border:2px solid #1f4866 ;padding:2% 3%;border-radius:5px}
.about .pic1 img{width:70%;display:inline-block;border:2px solid #1f4866 ;padding:2%;border-radius:5px}	
.about:last-child p{margin-bottom:4%}
/******/
.servess{-webkit-clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 89%);
clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 89%);position:relative;

background:url(../img/bg-Services.jpg)no-repeat center ;
	background-size:cover;text-align:center;margin-top:-10%;z-index:9999}

.servess .overlay{background-color:rgba(252,247,241,.7);padding-bottom: 7%;padding-top:1%}

.servess h3{margin-top:11%;position: absolute;
    left: 45%}	
.servess .hed-border:after ,.teamss .hed-border:after{
margin: 25px 3%;}	
.model-contact .hed-border:after{margin: 25px 30%}

.serves{
    position: relative;
    float: right;
    overflow: hidden;
    margin: 2% 1%;
    max-height: 360px;
    text-align: center;
    cursor: pointer;
	border-radius:5px;
	width:18%	
	
}
.serves img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
	border-radius:5px;
	height: 300px;}
.serves .mask{position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	background:rgba(31,73,103,.50);
	padding: 6%;
    text-align: center;
	color:#fff;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;}
.serves .mask:hover{background:rgba(31,73,103,.80);}	
.serves .box{border:1px solid #fff;height:100%;border-radius:5px;background: transparent}
.serves .box h5{margin-top:15%;font-weight:bold;line-height:2;color:#ddd}
.serves .hed-border:after{background-color:#CFC183;margin: 8% 35%;}	
/***team****/
.teams{position:relative;margin-bottom: 4%;}
.teams .trin {
    -webkit-clip-path: polygon(0 0, 0 63%, 100% 0);
    clip-path: polygon(0 0, 0 63%, 100% 0);
    background-color: rgba(238, 238, 238, .5);
    width: 55%;
    height: 100px;
    position: absolute;
    left: -3%;
    top: -26%;
    -webkit-transform:rotate(5deg) ;
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
z-index: 2222}
.owl-carousel{display:block}
.team{direction:rtl;background-color: #e5e5e5;padding: 1.5px;
    margin: 0 2%;-webkit-clip-path: polygon(0 0, 100% 0%, 100% 89%, 0 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 89%, 0 100%);
}
.team p{text-align: justify;}
.team > div{background-color:#fff;-webkit-clip-path: polygon(0 0, 100% 0%, 100% 89%, 0 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 89%, 0 100%);padding:4% 2% 15%}
.owl-carousel .team:after{ width: 101%;}
.team h4{text-align:center;margin-top:0;color:#014165;font-weight:bold;font-size:16px}
.gold{color:#CFC183!important}
.tea .btn {position: absolute;
    border: 1px solid #d1d1d1;
    border-radius: 50%;
    padding: 3%;z-index: 444;
    left: 45%;line-height:1;
    background: #fff;color:#333;
	bottom: 8%;
    box-shadow: none;
	
}
.tea{position:relative}
.modal-header{border-bottom:none;  text-align: center;
}
.modal-title {
    font-size: 16px;
font-weight: bold;}
.tea .btn:hover{color:#d1d1d1}
.owl-pagination{display:none}
.owl-buttons{position: absolute;
    top: 0;
    right: -19%;}
.owl-theme .owl-controls.clickable .owl-buttons div{opacity:1}	
.owl-buttons i{color:#CFC183;font-size:24px}	
.owl-theme .owl-controls .owl-buttons div{background:transparent}
.teams li,.vision li,.setup li,.lower li{line-height: 1.8;
    font-size: 16px;margin-bottom: 1%;}
.teams li i,.vision li i,.setup li i,.lower li i{font-size:10px;margin-left:3%;margin-right: -5%;}
/*****about*****/
.header.top {
   margin: 0;
    padding-top: 0;
    background: url(../img/slider.jpg)no-repeat center;
    position: relative;
    background-size: 100% 100%;
    height: auto;
    overflow: hidden;
   -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);

	z-index:8888
}	
.header.abo{z-index:9999}
.header.top .overlay{ background-color: rgba(9,56,90,.8);padding-bottom:5%;padding-top:6px}
.breadcrumb{background-color:transparent;float:left}
.breadcrumb li.active a{color:#CFC183}

.title h3 {
    color: #fff;
    font-weight: 600;
display: inline;}
.trin.three {
    -webkit-clip-path: polygon(0 0, 0 63%, 100% 0);
    clip-path: polygon(0 0, 0 63%, 100% 0);
    background-color: rgba(238, 238, 238, .5);
    width: 50%;
    height: 100px;
    position: absolute;
    left: -3%;
    bottom: -16%;
    -webkit-transform:rotate(4deg);
    -ms-transform: rotate(4deg);
    transform: rotate(4deg);
z-index: 2222;}
.vision{position:relative;background-color:#fdfdfd;-webkit-clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 89%);
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 89%);margin-top:-11%;z-index:9999;height:520px;margin-bottom:3%}
.vision h3{margin-top: 17%;}	
.left-pic{position:absolute;left: -19%;width:90%
}
.vis-text{position:absolute;}
.left-pic img{height:500px}
/******clints********/
.our-clints{margin-bottom: 10%;
    overflow: hidden;}
.clint{  position: relative;
    float: right;
    margin: 2% 1%;
    height: 130px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 5px;
	background: #fff;
}
.clint img{width:100%;height:100%}
/****teams******/
.setup{margin-bottom:4%}
.teamss .team{margin:3% 0 10%}

.teamss .team a{bottom: 36px;}
.all-team{background-color:#fdfdfd;padding: 4% 0px 5% ;position:relative}
.all-team:after {
    content: "";
    position: absolute;
    bottom: -11%;
    left: -5px;
    height: 125px;
    width: 103%;
    background-color: #fdfdfd;
    -webkit-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
z-index: 8888;}
.setups{margin-bottom: 5%;margin-top: 2%;}
.setups:after {
    content: "";
    position: absolute;
    top: 28%;
    left: -5px;
    height: 125px;
    width: 103%;
    background-color: #fdfdfd;
    -webkit-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
transform: rotate(3deg);}
.all-team .hed-border{position:absolute;top:-6%;left:45%}
.teamss.all-team .team:after {background-color:#fdfdfd	}
.item .btn{z-index:9999; bottom: 0%;}
.modal-open .modal {
   
z-index: 100000;}
/********/
.panel-heading {
  padding: 0;
	border:0;
}
.panel-title>a, .panel-title>a:active{
	display:block;
	padding:15px;
  color:#fff;
  font-size:13px;
  font-weight:600;
	text-transform:uppercase;
	letter-spacing:0px;
  word-spacing:3px;
	text-decoration:none;
}

 .collapse{color:#fff}

.panel-heading .panel-title{
  background-color:#1B3653;
}

.active .panel-title, .panel-body{
  background:#CFC183
}
.model-contact{border: 1px solid #e5e5e5;
    overflow: hidden;
    padding: 3% 3% 13%;background:#fff}
.model-contact:after{content: "";
    position: absolute;
    bottom: -10%;
    left: 5px;
    height: 60px;
    width: 98%;
    background-color: #fff;
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
    z-index: 8888;
    box-shadow: 0 -8px 12px -14px black;}	
.model-contact input[type="text"], .model-contact input[type="email"],.contact textarea,
.contact input[type="text"],.contact input[type="email"] , .contact select,input[type="date"]{
    height: 42px;
    border: none;
    box-shadow: none;
    border-radius: 0; 
    margin-bottom: 20px;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #e5e5e5;
    border-radius: 0;
	background: transparent;
	font-size:14px;
	line-height: 19px;
}
.contact .form-control{margin-bottom:10%!important}
 .contact select,input[type="date"]{line-height:35px}
.contact{overflow:hidden;padding:2% 0 10%;}
.contact .contact-btn{top: 37%;
    left:auto;right: 9%;}
.contact.letter .contact-btn {
top: 95%;}	
.contact-btn,.model-contact.send a{position:absolute;z-index: 9999;
   
	left:39%;
    padding: 1% 3%;
    background: #CFC183;
    border: none;
    color: #fff;
    border-radius: 5px;
}
.model-contact.send{padding:15% 0}
.model-contact.send a i{ margin-right: 10px;}
.model-contact.send .fa-envelope-open-text{color:#CFC183}
.model-contact.send h4{line-height:3}
.model-contact .contact-btn{top:85%}
/***cooperation***/
.cooperation{position:relative;margin-bottom:26%;}
.cooperation img{position:absolute;right:-15%}
/*************/
.performance {position:relative; margin-bottom: 10%;}
 .formance{position: relative;
    z-index: 2222;
    top: -53px;
    left: -37%;
    height: 865px;
    width: 140%;}
.performance .perf{
   
    height: 1160px;
	margin-top: -20%;
    width: 140%; background: url(../img/5.jpg)no-repeat;
    background-size:cover;}
.performance .perf .overlay{background:rgba(211,213,212,.8)}
.performance .pic img{position:absolute;z-index:9999;right: -15%;
    height: 700px;margin-top:30%;width:65%;border: 2px solid rgba(206, 206, 206, .4);
    padding: 4%;}	
ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #f3efe3;
    display: inline-block;
    position: absolute;
    right: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-right: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #CFC183;
    right: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
/*****system*****/
.systems{padding:5% 0;overflow:hidden;}
.system{border:1px solid #e5e5e5;border-radius:10px;text-align:center;margin-bottom:7%; -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;display:flex;justify-content:center;align-items:center;height: 135px;background:#fff}
.systems .col-md-3{padding-right: 7px;
    padding-left: 7px;}	
.system:hover{background-color:#CFC183;}
.system  h5 {color:#333;font-weight:bold}
.system:hover h5{color:#fff}
/****contact*****/
.contact li{position:relative}
.contact li div{color:#CFC183;background-color:#014165;width:45px;height:45px;border-radius:14px;-webkit-transform: rotate(48deg);
    -ms-transform: rotate(48deg);
    transform: rotate(48deg);
	display:inline-block;
	text-align:center;
	margin-bottom: 3%;
}
.contact li div i{-webkit-transform: rotate(-48deg);
    -ms-transform: rotate(-48deg);
    transform: rotate(-48deg);position: absolute;
    top: 33%;
    left: 33%;}
.contact li p{display:inline-block;position: absolute;
    right: 13%;top: 12%;
    font-size: 14px;}	
.contact .info{ margin-top: 20%;}
.box{border: 1px solid #e5e5e5;
    border-radius: 5px;
    text-align: center;	
	display: flex;
    justify-content: center;
    align-items: center;
height: 150px;background:#fff}

.up-load a{color:#014165}
.lower p{font-size:16px;margin-bottom:2%}
.list-group-item{line-height:2}
.list-group-item i{margin-top:2%}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus{color:#CFC183;background:#fff;border-color:#ddd}
/***international****/

.international h3{margin-top:25%;}
.international p{width: 96%;line-height: 2.3;}
.international img{-webkit-clip-path: polygon(0 9%, 100% 0%, 100% 90%, 0% 100%);
clip-path: polygon(0 9%, 100% 0%, 100% 90%, 0% 100%);margin-right:-24%}
/*********/
.our-ser{height:550px}
.tabs{
  overflow:hidden;
  position:absolute;
  z-index:10000;
  top:-10%
}
ul.tab-switch{box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    padding-inline-start:0}
.tabs .tab-switch li{
  background-color: #fff;
  color: ##7e7e7e;
  border-bottom: 1px solid #ddd;
  line-height: 3;
  font-size: 16px;
  cursor: pointer;
  padding:0 8px;
  -webkit-transition:all .3s ease-in-out;
  -moz-transition:all .3s ease-in-out;
  -o-transition:all .3s ease-in-out;
  transition:all .3s ease-in-out;
}
.tabs .tab-switch li i{line-height:2}
.tabs .tab-switch li:first-child{border-radius:5px 5px 0 0}
.tabs .tab-switch li:last-child{border-radius:0 0 5px 5px}
.tabs .tab-switch li.selected,
.tabs .tab-switch li:hover{
  color:#CFC183
}
.tabs-content{padding:9% 3% 5%}
.tabs .tabs-content div:not(.tab-one){
  display: none;
}
.tabs-content li{list-style:square}
.tabs .tabs-content p{
  line-height: 1.6;
  font-size: 18px;
  color: #7e7e7e;
}
.tabs .tabs-content button{
  background-color: #ff8b38;
  color: #fff;
}
/*****/

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
/*******/
.regu .contact-btn{right: 40%;}
.regu {
    margin-bottom: 6%;
}
.send a{top:84%}

/****footer****/

.mailing{background:#CFC183;width:40%;position:absolute;top: -12%;
    right: 34%;padding: 1%;border-radius:5px;-webkit-box-shadow: -1px -27px 8px -12px rgba(239,237,216,1);
-moz-box-shadow: -1px -27px 8px -12px rgba(239,237,216,1);
box-shadow: -1px -27px 8px -12px rgba(239,237,216,1);}
.mailing .form-group{margin-bottom:0}
.mailing h4{color:#fff;margin:0}	
.mailing label{font-size: 12px;}
.hold{background:#fff;padding: 1%;border-radius:5px}
.hold input{width:78%;border: none;
    box-shadow: none;
    display: inline-block;}
.hold .btn{width:18%;display:inline-block;background:#014165;margin: 3px 0 3px 3px;}
.hold .btn:hover i{color:#CFC183}
footer{color:#fff;position:relative;background: url(../img/footer.jpg)no-repeat center;z-index: 9999;
    background-size: cover;}
footer .row{margin-top:6%}	
footer .overlay{top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   background-color:rgba(5,61,99,.7)}	
footer h4{margin-bottom:8%}
footer .f-mor{color:#CFC183}
footer .f-mor:hover{color:#ddd}
footer li{list-style:none;line-height:2.5;color:#fff}
footer li a  {list-style:none;font-size:12px;margin-top: 4%;color:#fff;font-weight:normal}
footer li a:hover{color:#CFC183}
footer h4{color:#CFC183}
footer li i{margin-left:4%}
footer .col-md-5,footer .colm-2{padding-left:0}

footer .qanon{margin-top:-5%;overflow:hidden}
footer p{font-size:15px;color:#fff; text-align: justify;}
footer h6{color:#fff}
footer .sochal{text-align:left}
footer .sochal i{margin-left:1%}

.coppy{color:#fff;margin-top:2%;border-top:1px solid #fff; padding-top: 1%;}
.coppy a{color:#CFC183}
#elevator_item
{
	width:60px;
	height:60px;
	position:absolute;
	right:9%;
	top:-26px;
	
	z-index:100020;
	display:none
}

#elevator_item.off {opacity:0;visibility:hidden}

#elevator
{
	display:block;
	width:60px;
	height:50px;
	background:url(../img/arrow.png) center center no-repeat;
	
	cursor:pointer;
	margin-bottom:10px
}



/* End Scroller */
 
  /* Smart Phones And Tablets */

 
 @media (min-width: 240px)and (max-width: 319px)
 
 {
.navbar-brand img {margin-right:-18%}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a{border-top: 3px solid transparent;}
.home .sochal{text-align:center}
.header.home .cont li {
float: none;}
.header.home .sochal ,.header.home .download{width:100%}
.navbar-brand img {
    margin-right: -3%;
	width:210px
}
.header.home{height:1000px;-webkit-clip-path: none;
    clip-path: none}
.header.top{height:auto}	
footer .overlay{padding-top: 7%;}

.head-ser{margin-top:35%}
.download a{font-size: 13px;}
#carousel-example-generic .carousel-inner > .item h3{font-size:15px}
#carousel-example-generic .carousel-inner > .item p{font-size:12px}
#carousel-example-generic .carousel-indicators {
    bottom: -31%;
}
.servess{-webkit-clip-path:none;clip-path: none}
.serves,.clint{width:90%;margin-right:auto;margin-left:auto}
.navbar-header {padding: 2% 0 13%!important;}
.trin.one{width:90%;top:-3%;}
.about {overflow: hidden;
    height: auto;margin-top: 10%;padding-bottom: 15%;}
.about .pic {
   
top: 11px;}

.about .pic img {
    top: 15%;
width: 76%}	
.servess h3 {margin-top: 10%;position:static}
.head-ser .more-dark{margin-bottom:2%}
.serves,.clint {margin: 2% 5%;}
.owl-buttons {position: static;}
.our-clints {
margin-bottom: 47%;}
.teams {
padding-bottom: 30%;}
.teamss .col-xs-6{width:100%}
.all-team {
    -webkit-clip-path: none;
clip-path: none;padding-bottom:20%}
.cooperation img{position:static}
.systems{padding-bottom:42%}
.list-group {
   
margin-top: 5%;}
.lower {
    padding-bottom: 20%;
}
footer .col-xs-6,.systems .col-xs-6{width:100%}
.mailing{width: 72%;
	top: -7%;
right: 23%}
#elevator_item {
    width: 40px;
    height: 40px;

right: 0;}
.hold input {
width: 77%}
.international{padding-bottom:40%}
.trin.three,.teams .trin{display:none!important}
.performance {
    padding-bottom: 35%;
}
.contact {
padding-bottom: 63%;}

.contact .info {
    margin-top: 29%;
}
.contact li p {
   
right: 15%;}
.contact .info {
    margin-top: 40%;
}
.contact li p {
   
right: 24%;}
.left-pic{left:0}
.international img{margin-right:0}
.up-load {
    margin-top: 35%;
}
.vision{height:1050px;-webkit-clip-path:none;
    clip-path: none}
.left-pic img {
    height: 180px;
}
.vis-text {
top: 15%;}	
.regu{margin-bottom:30%}
.setups:after,.all-team:after{display:none}
.all-team .hed-border {
position: static;}
.our-ser {
    height: 1730px;
}
.servess .hed-border:after, .teamss .hed-border:after {
    margin: 25px 20%;
}
.up-load {
    margin-top: -2%;
}
.contact .contact-btn {
    top: 33%;
right: 8%;}
.regu .contact-btn {
    top: 92%; width: 100px;
}
 .model-contact.send a {
   
 left: 23%;}
 .contact.letter .contact-btn {
    top: 99%;
}
 }
 @media (min-width: 320px) and (max-width:479px)
{ 
.navbar-brand img {margin-right:-3%}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a{border-top: 3px solid transparent;}
.navbar-header {padding: 2% 0 11%!important;}
.home .sochal{text-align:center}
.header.home{height:1040px;-webkit-clip-path: none;
    clip-path: none;}
.header.top{ height: auto;-webkit-clip-path: none;
    clip-path: none;}

.header.home .cont li {float: none;}
#carousel-example-generic .carousel-inner > .item h3 {font-size: 20px;}
#carousel-example-generic .carousel-indicators {
    bottom: -31%;
}
.head-ser {margin-top: 36%;}
.header.home .sochal ,.header.home .download{width:100%}
.head-ser .more-dark{margin-bottom:2%}
.header.top .overlay {
padding-bottom: 4%;}
.trin.one{width:80%;top:-4%;  transform: rotate(8deg);-webkit-transform:rotate(8deg);
    -ms-transform: rotate(8deg);}
.about {overflow: hidden;
    height: auto;margin-top: 10%;padding-bottom: 4%;}
.about .pic {
   
top: 11px;}

.about .pic img {
    top: 15%;
width: 70%}	
.servess .hed-border:after, .teamss .hed-border:after {
    margin: 25px 30%;
}
.servess {-webkit-clip-path:none;
    clip-path: none;margin-top: 5%;}
.servess h3 { margin-top: 13%;  position: static}
.serves,.clint{width:90%;margin-right:auto;margin-left:auto;margin: 2% 5%;}

.owl-buttons {position: static;}
.mailing {width: 65%;top: -12%;}
.cooperation img{position:static}

footer .row{margin-top: 16% ;}
.all-team {
    -webkit-clip-path: none;
clip-path: none;padding-bottom:20%}
.teams { padding-bottom: 33%;}
.teamss .col-xs-6{width:100%}
.about.two{margin-bottom:0; }
.vision{-webkit-clip-path:none;clip-path: none;margin-top:0; height: 970px;
    margin-bottom: 35%;}
.vis-text {
position: static;}
.left-pic img {
    height: 300px;
}
.our-clints {
margin-bottom: 25%}	
.systems{padding-bottom:15%;margin-top: 10%;}
.contact {
padding-bottom: 20%;}
footer .col-xs-6,.systems .col-xs-6{width:100%}
.mailing{width: 72%;
	top: -6%;
right: 23%}
.hold .btn {
width: 18%;}
#elevator_item {
    width: 40px;
    height: 40px;

right: 0;}
.model-contact{margin-bottom:40%}

.model-contact.send {
   
margin-bottom: 2%;}
.model-contact.send:after {
   
bottom: -7%;}
.model-contact:after {
   
bottom: 18%;}
.model-contact.send a {
    top: 78%;
	left: 28%;
}
.international{padding-bottom:30%}
.lower{padding-bottom:20%}
.trin.three,.teams .trin{display:none!important}
.lower{padding-bottom:20%}
.performance {
padding-bottom: 20%;}
.contact .info {
    margin-top: 29%;
}
.contact li p {
   
    right: 22%;}
.left-pic{left:0}
.international img{margin-right:0}
.up-load {
        margin-top: 36%;
}
.list-group {
   
margin-top: 5%;}
.setups {
    margin-bottom: 7%;
}
.setups:after,.all-team:after{display:none}
.all-team .hed-border {
position: static;}
.tabs {
top: 2%;}
.our-ser {
    height: 1670px;
}
.contact{padding-bottom: 18%;margin-bottom:33%}

.up-load {
    margin-top: -2%;
}
.contact .contact-btn {
  top: 40%;
right: 5%}
.regu .contact-btn{top: 68%; width: 100px;}
}
 @media (min-width: 480px)and (max-width: 767px){
	 .header.home {
	-webkit-clip-path: none;
clip-path: none;}
.navbar-inverse .avbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a
 {border:3px solid transparent}
.navbar-brand img {margin-right:-18%}
.home .sochal{text-align:center}
.header.home{height:1110px;-webkit-clip-path: none;
    clip-path: none;}
.header.home .cont li {float: none;}
.header.top{ height: auto;}
#carousel-example-generic .carousel-indicators {
    bottom: -35%;
}

.header.top .overlay {
padding-bottom: 4%;}	
.header.home .sochal ,.header.home .download{width:100%}
.head-ser {margin-top: 22%;}
.about{margin-top: 8%;}
.about .pic {
   
top: 11px;}

.about .pic img {
    top: 15%;
width: 70%}
.servess{-webkit-clip-path:none!important;
    clip-path: none;margin-top:0%!important}
.serves,.clint{width:45%;}

.header.home .cont{margin-bottom:1%}
.about{ overflow: hidden;
    height: auto;padding-bottom: 4%;}

.servess h3 {margin-top: 15%;position: static}
.servess .hed-border:after, .teamss .hed-border:after {
    margin: 25px 35%;
}
.performance {
padding-bottom: 20%;}
.owl-buttons {position: static;}
.mailing {width: 65%;top: -6%;
}
footer .row {margin-top: 16% ;}
.teams { padding-bottom: 22%;}
.about.two{margin-bottom:0; height: auto;}
.about.two .pic {width:100%}
.vision{-webkit-clip-path:none;
    clip-path: none;margin-top:0; 
       height: 1000px;
}
.vision h3{ margin-top: 6%;}	
.vis-text {
position: static;}	
 .vision li{
   
margin-right: 0}
.left-pic{position:static}
.left-pic1 img{height:auto!important}
.our-clints {
margin-bottom: 25%}	
.all-team {
    -webkit-clip-path: none;
clip-path: none;padding-bottom:7%}	
.model-contact{margin-bottom:52%}
.model-contact.send {
   
margin-bottom: -3%;}
.regu .model-contact {
    margin-bottom: 11%;
}
.model-contact:after {
    bottom: 4%;height: 100px;
}
 .model-contact{   padding: 3% 3% 22%;}
 .model-contact.send{    padding: 3% 3% 13%;}
.model-contact.send:after {
    bottom: -38%;
}
.model-contact.send a {
padding: 2% 3%;
    top: 82%;}
.contact-btn {
    
top: 41%;}
 .cooperation{  padding-bottom: 0;}
.cooperation img{position:static}
.systems{padding-bottom:10%}
.international img{margin-right:0}
.international h3 {
    margin-top: 6%;
}
footer p{ line-height: 1.5;}
.international{padding-bottom:10%}
.lower{padding-bottom:15%}
.trin.three,.teams .trin{display:none!important}
.lower{padding-bottom:15%}
.setups {
    margin-bottom: 12%;
}	
.setups:after,.all-team:after{display:none}
.all-team .hed-border {
position: static;}
.our-ser {
    height:1290px ;
}
.tabs {
top: 2%;}
.contact{padding-bottom: 44%;}
.up-load {
    margin-top: -2%;
}
.contact .contact-btn {
    right: 4%;
    top: 47%;}
	
	.regu .contact-btn{top: 75%;
    right: 35%;}
 }
 @media (max-width: 990px) {
   .navbar-header {
        float: none;
		margin-top: 2%;
		padding: 2% 0 5%;
		background:#fff

    }
	.navbar-nav {
    margin: 7.5px -15px;
}
	.navbar > .container .navbar-brand{margin-top:0}
    .navbar-left {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        text-align: center;
    }
	.navbar-nav .dropdown{display:block !important}
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
		color:#fff !important
    }
	.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, 
	.navbar-inverse .navbar-nav > .active > a:focus {
    color: #CFC183!important}
    .collapse.in{
        display:block !important;
    }
	.navbar-toggle{background:#014165}
	.navbar-inverse .navbar-collapse {
   background: #0f0c29;
    background: -webkit-linear-gradient(to right, #0a2d48, #0a2d48, #0f0c29);
    background: linear-gradient(to right, #0a2d48, #0a2d48, #0f0c29);
overflow-x: hidden;}
	.navbar-nav .open .dropdown-menu > li > a{color:#ddd!important;text-align:center}

}

@media (min-width: 768px)and (max-width:990px){
.header.home{height:1234px}
.header.top{height:auto}
.nav > li{float:none}	
.nav > li > a{padding:10px;}

.navbar-brand img {width: 150px;margin-right:-18%}
.header.home .sochal ,.header.home .download{width:100%}
 #carousel-example-generic .carousel-inner > .item h3{line-height:2}
 .head-ser{width: 70%;
    margin: 0 auto;margin:17% auto 0}
.about .bg-pic{
    height: 805px;}
	.about.two .bg-pic{
    height: 857px;}
 .serves,.clint{width:31%}
.trin.one{
    top: -4%;
    -webkit-transform: rotate(10dg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
   
}
.teams .trin{top: -29%;
    -webkit-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    transform: rotate(12deg);}
.servess{margin-top: -12%;  -webkit-clip-path: polygon(0 0, 100% 6%, 100% 100%, 0 91%);
    clip-path: polygon(0 0, 100% 6%, 100% 100%, 0 93%);}
.about{height: 650px;}	
.about .pic {
top: -53px;
right: -40%;}


.servess h3 {
    margin-top: 14%!important;
}	
	
.vision h3 {
   
    margin-top: 16%;

}
.vision{margin-top:-19%;height:590px}	
.vis-text {
top: 6%;}	
.left-pic {
left: -63%;
width: 97%;height:590px}
.left-pic img,.left-pic {
    height: 590px;
}	
.mailing {width: 65%;top: -6%;}
footer .row {margin-top: 16% ;}	
.servess .hed-border:after, .teamss .hed-border:after {
    margin: 25px 2%;
}
.servess {
    -webkit-clip-path: polygon(0 0, 100% 8%, 100% 100%, 0 89%);
clip-path: polygon(0 0, 100% 8%, 100% 100%, 0 89%);margin-top: -6%;}
.servess h3 {
    margin-top: 24%;
}
.owl-buttons {
    position: static;
}
.teamss.all-team h3{ margin-top: 0%;}
.all-team:after {
  
bottom: -7%;}
.setups{margin-bottom: 13%;}
.setups:after {
   
    top: 34%;}
.our-ser {
    height: 1040px;
}
.tabs {
top: 2%;}
.contact .contact-btn {
    top: 40%;
    right: 15%;
}
.send a {
    top: 81%;
}
}
@media (min-width:991px) and (max-width:1024px){
.header.home{height:750px}
.header.top{height:auto}	
.serves,.clint{width:23%}
.about{height:580px}
   
.about .pic {
top: -42px;right: -42%;}
.about .bg-pic{ right: -42%; height:788px;}
	.servess h3 {
    margin-top: 15%;
}
.servess{margin-top: -5%;}	

.trin.one{ top: -3%;
    transform: rotate(6deg);-webkit-transform:rotate(6deg);
    -ms-transform: rotate(6deg);}
.trin.three {  bottom: 36%;width:50%}	
.teams .trin {
    top: -28%;
    -webkit-transform: rotate(9deg);
    -ms-transform: rotate(9deg);
    transform: rotate(9deg);
}
.vision{margin-top:-14%;height:520px}
.vision h3 {
    margin-top: 25%;
}
.left-pic img,.left-pic {
    height: 520px;
}	
.vis-text {
top: 0%;}
.mailing {
width: 65%}
.performance .perf {
    height: 1230px;
margin-top: -20%}
.setups:after {
  
top: 30%;}
.all-team .hed-border {
top: -5%;}
.our-ser {
    height: 555px;
}
.international {
    margin-bottom: 10%;
}
.trin.three {
 
    bottom: 46%;
    -webkit-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
transform: rotate(3deg);}

}
@media (min-width:1190px){
.our-ser {
    height: 550px;
}
}
@media (min-width:1025px) and (max-width:1370px){
.serves,.clint{width:18%;}
.servess h3{margin-top:11%; position: absolute;
    left: 45%;}
.mailing {
width: 40%}
.vision{height:520px;margin-top: -18%;}
.trin.one {
top: -4.5%}
.trin.three{top: 33%;
    -webkit-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
}
	.cooperation h3{margin-top:30%}
	.up-load{margin-top:23%}
	.international {
    margin-bottom: 5%;
}
}
@media (min-width:1371px) and (max-width:1920px){
.trin.three {
    top: 25%;
    -webkit-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    transform: rotate(1deg);
}

.left-pic {
left: -66%;}
.vis-text {
    top: -13%;
}
.teams .trin {

    height: 150px;
    top: -30%;
}
.trin.one {
    
    height: 150px;
    -webkit-transform: rotate(3dg);
    -ms-transform: rotate(3deg);
transform: rotate(3deg);}
.contact .contact-btn {
  
    right: 20%;
}
.international {
    margin-bottom: 5%;
}
}
img{width:100%}